# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Data files
*.csv
*.json

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Ollama cache / models (if any)
.ollama/
